<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit your post</h1>
    <h2>userid <%=post.userid %></h2>
    <h2>username <%=post.username %></h2>
    <form method="post" action="/posts/<%=post.userid %>/?_method=PATCH">
        <textarea name="contant" id="" ><%=post.contant %></textarea>
        <input type="file" name="userimg" placeholder="updete image">
        <button type="submit">submit</button>
    </form>
    
</body>
</html>